# Logistic Regression Consulting Project

## Binary Customer Churn

A marketing agency has many customers that use their service to produce ads for the client/customer websites. They've noticed that they have quite a bit of churn in clients. They basically randomly assign account managers right now, but want you to create a machine learning model that will help predict which customers will churn (stop buying their service) so that they can correctly assign the customers most at risk to churn an account manager. Luckily they have some historical data, can you help them out? Create a classification algorithm that will help classify whether or not a customer churned. Then the company can test this against incoming data for future customers to predict which customers will churn and assign them an account manager.

The data is saved as customer_churn.csv. Here are the fields and their definitions:

    Name : Name of the latest contact at Company
    Age: Customer Age
    Total_Purchase: Total Ads Purchased
    Account_Manager: Binary 0=No manager, 1= Account manager assigned
    Years: Totaly Years as a customer
    Num_sites: Number of websites that use the service.
    Onboard_date: Date that the name of the latest contact was onboarded
    Location: Client HQ Address
    Company: Name of Client Company
    
Once you've created the model and evaluated it, test out the model on some new data (you can think of this almost like a hold-out set) that your client has provided, saved under new_customers.csv. The client wants to know which customers are most likely to churn given this data (they don't have the label yet).

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("lr_model").getOrCreate()

In [17]:
df = spark.read.csv('customer_churn.csv',inferSchema=True, header=True)

In [18]:
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [9]:
df.show(3)

+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+
|         Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|         Company|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+
| Andrew Mccall|37.0|       9935.53|              1| 7.71|      8.0|2011-08-29 18:37:54|38612 Johnny Stra...|        King Ltd|
|Michele Wright|23.0|       7526.94|              1| 9.28|     15.0|2013-07-22 18:19:54|21083 Nicole Junc...|   Cannon-Benson|
|  Jeremy Chang|65.0|         100.0|              1|  1.0|     15.0|2006-12-11 07:48:13|085 Austin Views ...|Barron-Robertson|
+--------------+----+--------------+---------------+-----+---------+-------------------+--------------------+----------------+
only showing top 3 rows

In [10]:
from pyspark.ml.feature import StringIndexer, OneHotEncoderEstimator, VectorAssembler

In [13]:
location_indexer = StringIndexer(inputCol="Location", outputCol="Location_index")
location_encoder = OneHotEncoderEstimator(inputCols=["Location_index"], outputCols=["Location_encode"])

Company_indexer = StringIndexer(inputCol="Company", outputCol="Company_index")
Company_encoder = OneHotEncoderEstimator(inputCols=["Company_index"], outputCols=["Company_encode"])

In [19]:
assembeler = VectorAssembler(inputCols=["Age", "Total_Purchase", "Account_Manager", 
                                        "Years", "Num_Sites", "Location_encode", "Company_encode"], outputCol="features")

In [14]:
from pyspark.ml.classification import LogisticRegression

In [20]:
model = LogisticRegression(featuresCol="features", labelCol="Churn")

In [21]:
from pyspark.ml import Pipeline

In [46]:
pipeline = Pipeline(stages=[location_indexer,Company_indexer,
                           location_encoder,Company_encoder,
                           assembeler])

In [47]:
df = pipeline.fit(df).transform(df)

In [49]:
train, test = df.randomSplit([0.7, 0.3])

In [50]:
trained_model = model.fit(train)

In [68]:
result = trained_model.transform(test)

In [69]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [81]:
evalutor = BinaryClassificationEvaluator(rawPredictionCol="prediction", labelCol="Churn", metricName="areaUnderROC")

In [82]:
evalutor.metricName

Param(parent='BinaryClassificationEvaluator_4fa2a9d877b3db934593', name='metricName', doc='metric name in evaluation (areaUnderROC|areaUnderPR)')

In [83]:
evalutor.evaluate(result)

0.5068376068376068

In [32]:
result.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Num_Sites: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)
 |-- Location_index: double (nullable = false)
 |-- Company_index: double (nullable = false)
 |-- Location_encode: vector (nullable = true)
 |-- Company_encode: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [84]:
result.show()

+------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------+-------------+-----------------+-----------------+--------------------+--------------------+--------------------+----------+
|             Names| Age|Total_Purchase|Account_Manager|Years|Num_Sites|       Onboard_date|            Location|             Company|Churn|Location_index|Company_index|  Location_encode|   Company_encode|            features|       rawPrediction|         probability|prediction|
+------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------+-------------+-----------------+-----------------+--------------------+--------------------+--------------------+----------+
|       Aaron Meyer|45.0|       9598.03|              0|  5.0|      7.0|2010-07-17 03:30:38|35821 Bailey Skyw...|Steele, Bates and...|    0|         559.0|         58.0|(899,[559],[1.0])| (872,[58],[1.0])|(1776,[0,1,3,4,56...|[15.1681062950744...|[0.99999974143185...|       0.0|
|        Adam Gomez|48.0|       6495.01|              1| 5.57|     12.0|2013-02-06 05:15:06|2889 Coffey Parks...|      Thompson Group|    1|         696.0|        163.0|(899,[696],[1.0])|(872,[163],[1.0])|(1776,[0,1,2,3,4,...|[10.1284716765445...|[0.99996007514925...|       0.0|
|        Adam Moore|41.0|      12659.88|              0| 4.55|      4.0|2010-01-22 19:08:48|339 Jeffrey River...|Little, White and...|    0|         334.0|        357.0|(899,[334],[1.0])|(872,[357],[1.0])|(1776,[0,1,3,4,33...|[18.2892500297594...|[0.99999998859541...|       0.0|
|       Adam Strong|50.0|      11775.75|              1| 4.83|     10.0|2011-02-06 15:02:27|33071 Melody Isle...|     Harvey-Mcdowell|    1|         441.0|        130.0|(899,[441],[1.0])|(872,[130],[1.0])|(1776,[0,1,2,3,4,...|[15.3207438651583...|[0.99999977803454...|       0.0|
|       Adam Waters|40.0|      11185.62|              0| 6.26|     12.0|2006-03-06 18:36:47|6040 Juan Forge P...|            Reed Ltd|    1|           7.0|        675.0|  (899,[7],[1.0])|(872,[675],[1.0])|(1776,[0,1,3,4,12...|[10.0401484793912...|[0.99995638860513...|       0.0|
|        Alex Banks|36.0|       8918.52|              0| 3.62|      8.0|2016-09-18 16:37:16|2109 Moore Lights...|        Jones-Meyers|    0|         654.0|        133.0|(899,[654],[1.0])|(872,[133],[1.0])|(1776,[0,1,3,4,65...|[10.9535119355068...|[0.99998250384528...|       0.0|
|Alexandra Phillips|32.0|       9472.72|              1|  1.0|     10.0|2009-03-26 05:25:30|078 Ortega Vista ...|Smith, Harris and...|    0|         181.0|        458.0|(899,[181],[1.0])|(872,[458],[1.0])|(1776,[0,1,2,3,4,...|[8.09382422342679...|[0.99969467372417...|       0.0|
|      Alexis Allen|43.0|       7686.13|              1| 7.17|      8.0|2016-09-27 07:00:35|7448 Jason Ridges...|      Jones and Sons|    0|         150.0|        706.0|(899,[150],[1.0])|(872,[706],[1.0])|(1776,[0,1,2,3,4,...|[13.1163160776572...|[0.99999798787280...|       0.0|
|       Alexis Hill|39.0|       6351.79|              0| 5.86|      6.0|2012-03-24 16:13:42|335 Dyer Shoals P...|   Campbell and Sons|    1|          58.0|        859.0| (899,[58],[1.0])|(872,[859],[1.0])|(1776,[0,1,3,4,63...|[12.6173102434060...|[0.99999668586385...|       0.0|
| Allison Clark DDS|43.0|      14241.75|              0| 3.73|     12.0|2006-07-11 11:32:51|PSC 9202, Box 199...|      Robinson-Perez|    0|         691.0|        674.0|(899,[691],[1.0])|(872,[674],[1.0])|(1776,[0,1,3,4,69...|[12.2825826177451...|[0.99999536830306...|       0.0|
|  Amanda Hernandez|38.0|      10298.29|              1| 5.07|      9.0|2015-05-31 21:15:18|4792 Amy Wall Apt...|Barry, Brown and ...|    0|         262.0|        260.0|(899,[262],[1.0])|(872,[260],[1.0])|(1776,[0,1,2,3,4,...|[11.8020482859329...|[0.99999251085392...|       0.0|
|    Amanda Roberts|43.0|       8601.01|              0| 5.65|     12.0|2007-02-03 17:52:51|PSC 9561, Box 407...|           Evans LLC|    1|         176.0|          5.0|(899,[176],[1.0])|  (872,[5],[1.0])|(1776,[0,1,3,4,18...|[-5.0042011449547...|[0.00666497927826...|       1.0|
|       Amanda Wade|39.0|       8880.17|              0|  4.0|      8.0|2011-03-05 06:46:38|869 Kathleen Dam ...|Jordan, Beasley a...|    0|         736.0|        690.0|(899,[736],[1.0])|(872,[690],[1.0])|(1776,[0,1,3,4,74...|[11.8995912841946...|[0.99999320686542...|       0.0|
|   Amanda Williams|37.0|       8614.75|              0| 5.03|      9.0|2011-07-07 15:43:46|79676 Johnson Vil...|        Jones-Fisher|    0|         748.0|        353.0|(899,[748],[1.0])|(872,[353],[1.0])|(1776,[0,1,3,4,75...|[10.3519367267629...|[0.99996807013110...|       0.0|
|    Amber Williams|40.0|       8530.23|              1| 3.66|     10.0|2012-03-02 18:33:21|2896 Diana Spur S...|Lee, Daniels and ...|    0|         144.0|        316.0|(899,[144],[1.0])|(872,[316],[1.0])|(1776,[0,1,2,3,4,...|[10.3712859705866...|[0.99996868199195...|       0.0|
|       Andrew Kent|45.0|      12374.97|              0| 4.66|      7.0|2011-12-24 17:00:01|79904 Jacobson We...|Briggs, Cross and...|    0|         211.0|        127.0|(899,[211],[1.0])|(872,[127],[1.0])|(1776,[0,1,3,4,21...|[16.6140527311494...|[0.99999993910122...|       0.0|
|    Andrew Leonard|41.0|      14099.03|              1| 4.56|      7.0|2016-03-02 16:50:06|Unit 6154 Box 511...|Cruz, Carter and ...|    0|         662.0|        556.0|(899,[662],[1.0])|(872,[556],[1.0])|(1776,[0,1,2,3,4,...|[16.5362092059365...|[0.99999993417125...|       0.0|
|   Angela Holloway|40.0|      12919.92|              0| 4.23|     11.0|2009-10-29 16:25:56|7488 Dana Mountai...|       Ray-Rodriguez|    0|         598.0|        222.0|(899,[598],[1.0])|(872,[222],[1.0])|(1776,[0,1,3,4,60...|[11.6376974071248...|[0.99999117309605...|       0.0|
|         Ann White|43.0|       8950.33|              0| 6.76|      9.0|2008-06-25 00:45:14|91968 Pena Stream...|         Hancock LLC|    0|         737.0|        558.0|(899,[737],[1.0])|(872,[558],[1.0])|(1776,[0,1,3,4,74...|[12.5857414001649...|[0.99999657957183...|       0.0|
|       Anna Bryant|39.0|       8801.86|              1| 4.43|     10.0|2007-03-18 11:14:44|30668 Isabella Fr...|         Bennett Inc|    1|         129.0|        274.0|(899,[129],[1.0])|(872,[274],[1.0])|(1776,[0,1,2,3,4,...|[10.3062178623208...|[0.99996657649912...|       0.0|
+------------------+----+--------------+---------------+-----+---------+-------------------+--------------------+--------------------+-----+--------------+-------------+-----------------+-----------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows